{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Про нас{% endblock %}

{% block content %}
<div class="product">
    <div class="product-photo">
        <img src="{% static 'main/img/category/41296070299.jpg' %}" alt="" style="width: 100%; height: 100%;"> <!-- ПОДКЛЮЧИТЬ КАРТИНКУ -->
        <!-- ПОДКЛЮЧИТЬ КАРТИНКУ -->
    </div>
    <div class="product-description">
        <h2>{{ newPage.title }}</h2>
        <p style="font-size: 30px;">{{ newPage.priсe }} Р.</p>
        <p class="product-description__title">Размеры:</p>
        <p class="product-description__text">{{ newPage.size }}</p>
        <p class="product-description__title">Описание:</p>
        <p class="product-description__text">{{ newPage.description }}</p>
        <p class="product-description__title">Цвет:</p>
        <p class="product-description__text">{{ newPage.color }}</p>
        <p class="product-description__title">Изготовитель:</p>
        <p class="product-description__text">{{ newPage.make }}</p>
        <p class="product-description__title">Состав:</p>
        <p class="product-description__text">{{ newPage.composition }}</p>
        <p class="product-description__title">Наличие:</p>
        <p class="product-description__text">{{ newPage.availability }}</p>
        <p class="product-description__title">Доставка:</p>
        <p class="product-description__text">{{ newPage.delivery }}</p>
        <button class="btn btn-danger" style="margin-top: 8px;">
            Купить</button>
    </div>
</div>
{% endblock %}